In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

DATA_PATH = "data/"

In [20]:
files = !ls $DATA_PATH
train_files = list(map(lambda x: x[:-9], filter(lambda delta: 'test' in delta, files)))
train_files

['chronom', 'chugun', 'gas', 'lom', 'plavki', 'produv', 'sip']

In [21]:
train_data = {}
for file in train_files:
    train_data[file] = pd.read_csv(f'{DATA_PATH}{file}_train.csv')

In [24]:
train_data['chugun'].head()

,NPLV,VES,T,SI,MN,S,P,CR,NI,CU,V,TI,DATA_ZAMERA
0,510008,263700.0,1396.0,0.44,0.22,0.023,0.097,0.03,0.01,0.03,0.103,0.084,2021-01-01 03:15:03
1,510009,264500.0,1419.0,0.68,0.20,0.017,0.087,0.02,0.01,0.03,0.084,0.096,2021-01-01 04:23:48
2,510010,263800.0,1384.0,0.56,0.26,0.017,0.096,0.03,0.01,0.03,0.115,0.110,2021-01-01 05:21:40
3,510011,264000.0,1401.0,0.48,0.27,0.018,0.091,0.03,0.01,0.02,0.112,0.110,2021-01-01 06:20:57
4,510012,263300.0,1422.0,0.47,0.23,0.018,0.096,0.02,0.01,0.03,0.083,0.070,2021-01-01 07:23:02

In [25]:
train_data['chronom'].head()

,Unnamed: 0,NPLV,TYPE_OPER,NOP,VR_NACH,VR_KON,O2
0,35171,510008,межпл.прост.,межпл. простой,2011-01-01 10:28:13,2011-01-01 10:32:15,NaN
1,35162,510008,межпл.прост.,межпл. простой,2021-01-01 03:01:07,2021-01-01 03:08:11,NaN
2,35163,510008,межпл.прост.,Осмотр конвертера,2021-01-01 03:01:19,2021-01-01 03:03:43,NaN
3,35164,510008,межпл.прост.,Наведение гарнисажа,2021-01-01 03:03:43,2021-01-01 03:05:23,NaN
4,35165,510008,межпл.прост.,Слив шлака,2021-01-01 03:05:23,2021-01-01 03:06:09,NaN

In [26]:
train_data['gas'].head()

,NPLV,Time,V,T,O2,N2,H2,CO2,CO,AR,T фурмы 1,T фурмы 2,O2_pressure
0,510008,2021-01-01 03:08:11.437,218263.343750,262.847229,18.722993,80.132247,0.087755,0.163878,0.009229,0.893243,0.0,0.0,13.085938
1,510008,2021-01-01 03:08:12.437,218263.343750,262.847229,18.732721,80.138406,0.087959,0.148980,0.008390,0.892948,0.0,0.0,13.085938
2,510008,2021-01-01 03:08:13.437,218369.359375,262.152771,18.742449,80.144565,0.088163,0.134082,0.007551,0.892653,0.0,0.0,13.085938
3,510008,2021-01-01 03:08:14.437,218475.359375,261.805573,18.752177,80.150724,0.088367,0.119184,0.006712,0.892358,0.0,0.0,13.093172
4,510008,2021-01-01 03:08:15.437,218369.359375,260.763885,18.761905,80.156883,0.088571,0.104286,0.005873,0.892063,0.0,0.0,13.093172

In [27]:
train_data['lom'].head()

     NPLV  VDL   NML    VES
0  510008    4  К     56500
1  510008    8  О     16700
2  510008   13  КП     3000
3  510009    4  К     49800
4  510009    8  О     22800

In [28]:
train_data['plavki'].head()

,NPLV,plavka_VR_NACH,plavka_VR_KON,plavka_NMZ,plavka_NAPR_ZAD,plavka_STFUT,plavka_TIPE_FUR,plavka_ST_FURM,plavka_TIPE_GOL,plavka_ST_GOL
0,510008,2021-01-01 03:08:11,2021-01-01 03:51:10,С255,МНЛЗ,971,цилиндрическая,11,5 сопловая,11
1,510009,2021-01-01 04:00:44,2021-01-01 05:07:28,С255,МНЛЗ,972,цилиндрическая,12,5 сопловая,12
2,510010,2021-01-01 05:12:29,2021-01-01 06:00:53,Ст3пс/Э,Изл,973,цилиндрическая,13,5 сопловая,13
3,510011,2021-01-01 06:13:48,2021-01-01 07:08:39,Св-08А.z02,Изл,974,цилиндрическая,14,5 сопловая,14
4,510012,2021-01-01 07:13:44,2021-01-01 08:01:59,SC2M/ЭТ,МНЛС,975,цилиндрическая,15,5 сопловая,15

In [29]:
train_data['produv'].head()

     NPLV                  SEC    RAS   POL
0  510008  2021-01-01 03:18:26  382.0  3.92
1  510008  2021-01-01 03:18:28  382.0  3.92
2  510008  2021-01-01 03:18:30  553.0  3.92
3  510008  2021-01-01 03:18:32  701.0  3.92
4  510008  2021-01-01 03:18:34  813.0  3.92

In [30]:
train_data['sip'].head()

     NPLV  VDSYP     NMSYP  VSSYP              DAT_OTD
0  510008    346  Уголь ТО    570  2021-01-01 03:03:53
1  510008    346  Уголь ТО    220  2021-01-01 03:04:10
2  510008    408   изв_ЦОИ   7300  2021-01-01 03:08:17
3  510008    346  Уголь ТО    270  2021-01-01 03:09:03
4  510008    346  Уголь ТО    430  2021-01-01 03:09:20